In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split

import statsmodels.formula.api as smf # 회귀분석
from statsmodels.api import qqplot
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

from sklearn.tree import DecisionTreeRegressor # Decision Tree
from sklearn.ensemble import RandomForestRegressor # Random Forest
from sklearn.ensemble import GradientBoostingRegressor # Gradient Boosting
from sklearn.model_selection import GridSearchCV
%matplotlib inline

In [2]:
plate = pd.read_csv("/Users/yeongseokjin/Desktop/DataScience/2024_POSCO_27th/BigData_Module/Project/SCALE불량.csv",
                    encoding='euc-kr')
plate.head()

,plate_no,rolling_date,scale,spec_long,spec_country,steel_kind,pt_thick,pt_width,pt_length,hsb,...,fur_input_row,fur_heat_temp,fur_heat_time,fur_soak_temp,fur_soak_time,fur_total_time,rolling_method,rolling_temp,descaling_count,work_group
0,PLT_1001,03JAN2023:07:07:53,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,...,1열,1144,116,1133,59,259,TMCP(온도제어),934,8,1조
1,PLT_1002,03JAN2023:07:21:22,양품,AB/EH32-TM,미국,T,32,3700,15100,적용,...,2열,1144,122,1135,53,238,TMCP(온도제어),937,8,1조
2,PLT_1003,03JAN2023:07:31:15,양품,NV-E36-TM,영국,T,33,3600,19200,적용,...,1열,1129,116,1121,55,258,TMCP(온도제어),889,8,1조
3,PLT_1004,03JAN2023:07:41:01,양품,NV-E36-TM,영국,T,33,3600,19200,적용,...,2열,1152,125,1127,68,266,TMCP(온도제어),885,8,1조
4,PLT_1005,03JAN2023:07:52:40,양품,BV-EH36-TM,프랑스,T,38,3100,13300,적용,...,1열,1140,134,1128,48,246,TMCP(온도제어),873,8,1조

In [3]:
plate.describe()

,pt_thick,pt_width,pt_length,fur_heat_temp,fur_heat_time,fur_soak_temp,fur_soak_time,fur_total_time,rolling_temp,descaling_count
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,26.78200,2831.900000,36788.200000,1157.245000,85.972000,1150.928000,71.720000,238.589000,934.637000,8.557000
std,18.13757,494.081478,13912.387116,21.245007,26.346297,17.344384,20.602137,38.194828,96.598015,1.604158
min,12.00000,1800.000000,7900.000000,1103.000000,55.000000,1113.000000,35.000000,165.000000,0.000000,5.000000
25%,15.00000,2500.000000,26650.000000,1140.000000,66.000000,1135.750000,57.750000,210.000000,893.750000,8.000000
50%,19.00000,2800.000000,40400.000000,1159.000000,75.000000,1156.000000,66.000000,230.000000,948.000000,9.000000
75%,34.00000,3100.000000,49100.000000,1173.000000,102.250000,1164.000000,81.000000,263.000000,991.000000,10.000000
max,100.00000,4600.000000,54900.000000,1206.000000,158.000000,1185.000000,145.000000,362.000000,1078.000000,10.000000

In [4]:
plate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   plate_no         1000 non-null   object
 1   rolling_date     1000 non-null   object
 2   scale            1000 non-null   object
 3   spec_long        1000 non-null   object
 4   spec_country     1000 non-null   object
 5   steel_kind       1000 non-null   object
 6   pt_thick         1000 non-null   int64
 7   pt_width         1000 non-null   int64
 8   pt_length        1000 non-null   int64
 9   hsb              1000 non-null   object
 10  fur_no           1000 non-null   object
 11  fur_input_row    1000 non-null   object
 12  fur_heat_temp    1000 non-null   int64
 13  fur_heat_time    1000 non-null   int64
 14  fur_soak_temp    1000 non-null   int64
 15  fur_soak_time    1000 non-null   int64
 16  fur_total_time   1000 non-null   int64
 17  rolling_method   1000 non-null   object
 18  rolling_temp     1000 non-null   int64
 19  descaling_count  1000 non-null   int64
 20  work_group       1000 non-null   object
dtypes: int64(10), object(11)
memory usage: 164.2+ KB

In [5]:
plate.drop(columns = ['plate_no', 'spec_long', 'spec_country', 'rolling_date',
                      'pt_thick', 'pt_width', 'pt_length',
                      'fur_no', 'fur_input_row', 'fur_heat_time', 'fur_soak_time'],
           axis=1, inplace=True)

plate.drop(plate[plate['rolling_temp']==0].index, inplace=True)

In [6]:
plate['fur_avg_temp'] = plate[['fur_heat_temp', 'fur_soak_temp']].mean(axis=1)

total_time_index = plate.columns.get_loc('fur_total_time')
columns = list(plate.columns)
columns.insert(total_time_index, columns.pop(columns.index('fur_avg_temp')))
plate = plate[columns]

plate.drop(columns = ['fur_heat_temp', 'fur_soak_temp'], axis=1, inplace=True)

In [7]:
plate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 994 entries, 0 to 999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scale            994 non-null    object
 1   steel_kind       994 non-null    object
 2   hsb              994 non-null    object
 3   fur_avg_temp     994 non-null    float64
 4   fur_total_time   994 non-null    int64
 5   rolling_method   994 non-null    object
 6   rolling_temp     994 non-null    int64
 7   descaling_count  994 non-null    int64
 8   work_group       994 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 77.7+ KB

In [9]:
plate_c = plate[plate['steel_kind'] == 'C']
plate_t = plate[plate['steel_kind'] == 'T']

In [10]:
plate.to_csv("plate.csv", index=False)
plate_c.to_csv("plate_c.csv", index=False)
plate_t.to_csv("plate_t.csv", index=False)